.page-title {
  font-size: 1.8rem;
  color: #454747;
}

#container > span {
  font-size: 0.9rem;
  color: #454747;
}

#container .form-container .form-header {
  display: flex;
  padding-block: 12px;
  border-bottom: 1px solid #e0dfdf;
  .form-title {
    font-size: 1.2rem;
    color: var(--ion-color-primary);
  }
}

#container .form-container #form .form-content {
  padding: 4px;
  border: 1px solid #e0dfdf;
  border-radius: 10px;
  .ripple-parent {
    position: relative;
    width: 100%;
    height: 42px;
    display: flex;
    gap: 6px;
    margin-top: 10px;
    user-select: none;
    font-size: 0.95rem;
    color: var(--ion-color-primary);
    border: 1px solid #e0dfdf;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    .custom-ripple {
      color: #078860;
    }
  }
  .form-document-options {
    ion-button {
      font-size: 0.9rem;
      &.md {
        text-transform: none;
      }
    }
    ion-select {
      border: 1px solid #e0dfdf;
      border-radius: 6px;
      color: #454747;
    }
  }
  .form-section {
    .form-section-title {
      font-size: 1rem;
      color: var(--ion-color-primary);
    }
    & > ion-row {
      width: 100%;
      .field-area {
        width: 100%;
        margin-top: 10px;
        ion-label {
          font-size: 0.95rem;
          color: #818181;
          span {
            color: #ff1f1f;
          }
        }
        &.document-description ion-label {
          font-size: 1rem;
        }
        ion-input {
          margin-top: 8px;
          padding-inline: 16px !important;
          color: #454747;
          border: 1px solid #e0dfdf;
          border-radius: 6px;
        }
        ion-select {
          margin-top: 8px;
          color: #454747;
          border: 1px solid #e0dfdf;
          border-radius: 6px;
        }
        ion-item {
          width: 100%;
          margin-top: 8px;
          --padding-start: 0;
          --inner-padding-end: 0;
          --border-color: transparent;
          ion-textarea {
            padding-inline: 16px;
            color: #454747;
            border: 1px solid #e0dfdf;
            border-radius: 6px;
          }
        }
      }
    }
  }
}

#container .form-container #form .form-message {
  font-size: 1rem;
  color: #ff1f1f;
}
