<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerDirection="back" [routerLink]="['/pages/inicio']" expand="block" shape="round">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        <!-- Voltar -->
      </ion-button>
    </ion-buttons>
    <ion-title>Atestado Médico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="page-title">Atestado Médico</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    
    <span>Preencha as informações do atestado médico.</span>
    
    <div class="form-container ion-margin-vertical">
      <div class="form-header ion-padding-horizontal">
        <strong class="form-title">Atestado Médico</strong>
      </div>
      
      <form action="" id="form" autocomplete="off">
        
        <ion-grid>

          <ion-row class="form-row-1 ion-align-items-center">
            <ion-col size="6">
              <ion-button (click)="null" expand="block" shape="round" [disabled]="true">
                Salvar como Modelo
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-select interface="action-sheet" placeholder="Selecionar Modelo" [value]="documentModels[0].value">
                <ion-select-option *ngFor="let model of documentModels" [value]="model.value">{{model.title}}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="form-row-2 ion-margin-top">
            <b>Dados do paciente</b>
            <ion-col size="12">
              <ion-row>
                <div class="input-area">
                  <ion-label>CPF ou Nome Completo do Paciente<span>*</span></ion-label>
                  <ion-input type="text" placeholder="Informe CPF ou Nome do paciente" (ionInput)="null" autocomplete="off"></ion-input>
                </div>
              </ion-row>
              <ion-row class="ion-justify-content-start">
                <!-- <ion-button (click)="null" expand="block" fill="outline" shape="round">
                  <ion-icon slot="start" name="add"></ion-icon>
                  Novo Paciente
                </ion-button> -->
                <div class="ion-activatable ripple-parent ion-justify-content-center ion-align-items-center">
                  <ion-icon slot="start" name="add"></ion-icon>
                  Novo Paciente
                  <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
                </div>
              </ion-row>
            </ion-col>
          </ion-row>
          
          <ion-row class="form-row-3 ion-margin-top">
            <ion-label>Descrição do Atestado:<span>*</span></ion-label>
            <ion-item counter="true">
              <ion-textarea [autoGrow]="true" maxlength="4000" autocomplete="off"></ion-textarea>
            </ion-item>            
          </ion-row>
          
          <ion-row class="form-row-4 ion-margin-top">
            <b>Local de Atendimento</b>
            <ion-col size="12">
              <ion-row>
                <div class="select-area">
                  <ion-label>Nome do Local de Atendimento<span>*</span></ion-label>
                  <ion-select interface="action-sheet" placeholder="Selecionar Modelo" [value]="documentModels[0].value">
                    <ion-select-option *ngFor="let model of documentModels" [value]="model.value">{{model.title}}</ion-select-option>
                  </ion-select>
                </div>
              </ion-row>
              <ion-row class="ion-justify-content-start">
                <!-- <ion-button (click)="null" expand="block" fill="outline" shape="round">
                  <ion-icon slot="start" name="add"></ion-icon>
                  Novo Local de Atendimento
                </ion-button> -->
                <div class="ion-activatable ripple-parent ion-justify-content-center ion-align-items-center">
                  <ion-icon slot="start" name="add"></ion-icon>
                  Novo Local de Atendimento
                  <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
                </div>
              </ion-row>
            </ion-col>
          </ion-row>

        </ion-grid>

      </form>
    </div>

  </div>
  
</ion-content>
