<ion-content>
  <div id="container">
    <ion-grid>

      <ion-row id="presentatio-section">
        <ion-col>
          <div class="presentatio-content">
            <strong>PRESCRIÇÃO ELETRÔNICA</strong>
            <p class="caption">Com a plataforma do CFM, ficou mais fácil o médico prescrever.</p>
            <p>Uma solução simples, segura e 100% gratuita para conectar médicos, pacientes e farmaceutic.</p>
            <a href="https://www.youtube.com/watch?v=SnHFeJkH2fY&list=PLdpTuolAuxThma4q-pHsjNsPCvtjXXlLt" target="_top">
              <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
              <span>Vídeos Tutoriais da Prescreção Eletrônica</span>
            </a>
          </div>
        </ion-col>
        <ion-col>
          <img alt="Prescrição Eletrônica" src="https://prescricao-hom.cfm.org.br/content/1b9324df41232c28dcabbf0ed557761f.png">
        </ion-col>
      </ion-row>

      <ion-row id="autentication-section">
        <ion-col>
          <div class="autentication-content">
            <ion-row>
              <strong>Autenticação</strong>
            </ion-row>
            <ion-row>
              <div class="autentication-info">
                <p>Bem-vindos ao sistema Prescrição Eletrônica.</p>
                <p>Utilize as caixas abaixo para acessar o sistema.</p>
                <span>Você pode utilizar os mesmos dados de acesso do CRM virtual.</span>
                <div class="login-options">
                  <ion-radio-group value="custom-checked">
                    <ion-row>
                      <ion-col>
                        <div class="login-option">
                          <ion-radio value="custom-checked"></ion-radio>
                          <ion-label>Sou médico</ion-label>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="login-option">
                          <ion-radio value="custom"></ion-radio>
                          <ion-label>Sou farmacêutico</ion-label>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                </div>
              </div>
            </ion-row>
            <ion-row>
              <ion-col id="login-container">

                <ion-row class="login-form">

                  <ion-col class="login-with-certificate">
                    <ion-row>
                      <div class="title">
                        <span></span>
                        <ion-label>Login com</ion-label>
                        <span></span>
                      </div>
                    </ion-row>
                    <ion-row>
                      <ion-button shape="round">
                        <ion-icon name="cloud-upload"></ion-icon>
                        <ion-label>Certificado Digital</ion-label>
                      </ion-button>
                    </ion-row>
                    <ion-row>
                      <a href="https://drive.google.com/file/d/1DjRtnh-8Itd4TTrGaztEO3ZgMYzaKZzP/view?usp=sharing" target="_blank">Manual do usuário Certillion</a>
                    </ion-row>
                  </ion-col>

                </ion-row>

                <ion-row class="login-form">

                  <ion-col class="default-login">
                    <ion-row>
                      <div class="title">
                        <span></span>
                        <ion-label>ou</ion-label>
                        <span></span>
                      </div>
                    </ion-row>
                    <ion-row>
                      <form action="" id="login-form" autocomplete="off">
                        <ion-grid>
                          <ion-row class="input-grid">
                            <div class="input">
                              <ion-label position="stacked">Login<span>*</span></ion-label>
                              <ion-input type="text" placeholder="Digite seu CPF ou CRM"></ion-input>
                              <span class="input-alert">Campo obrigatório.</span>
                            </div>
                            <div class="input">
                              <ion-label position="stacked">UF<span>*</span></ion-label>
                              <ion-select placeholder="Selecionar">
                                <ion-select-option *ngFor="let uf of ufs" [value]="[uf.value]">{{uf.title}}</ion-select-option>
                              </ion-select>
                              <span class="input-alert">Campo obrigatório.</span>
                            </div>
                          </ion-row>
                          <ion-row>
                            <div class="input">
                              <ion-label position="stacked">Senha<span>*</span></ion-label>
                              <ion-input type="password" placeholder="Digite su senha"></ion-input>
                              <span class="input-alert">Campo obrigatório.</span>
                            </div>
                          </ion-row>
                          <ion-row class="form-justify-center">
                            <p class="form-info">Os campos marcados com asterisco (*) são obrigatórios.</p>
                          </ion-row>
                          <ion-row class="form-justify-center">
                            <a href="">Cadastre-se</a>
                          </ion-row>
                          <ion-row class="form-justify-center">
                            <a href="">Esqueceu su senha?</a>
                          </ion-row>
                          <ion-row class="form-justify-center">
                            <ion-button (click)="login()" expand="block" shape="round">
                              Entar
                            </ion-button>
                          </ion-row>
                          <ion-row class="form-justify-center">
                            <span>Versão: v1.1.30 - 12/03/2023.</span>
                          </ion-row>
                          <ion-row class="form-justify-center form-align-center">
                            <ion-col>
                              <img src="https://prescricao-hom.cfm.org.br/content/daebd89f038168ac100ee4295306972e.png" alt="">
                            </ion-col>
                            <ion-col>
                              <img src="https://prescricao-hom.cfm.org.br/content/834686a102758e60f3590dec17f3501f.png" alt="">
                            </ion-col>
                            <ion-col>
                              <img src="https://prescricao-hom.cfm.org.br/content/9e36d49e12271feee2039db8ac0b002a.png" alt="">
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </form>
                    </ion-row>
                  </ion-col>

                </ion-row>

              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
