#container {
  display: flex;
  justify-content: center;
  background-image: url('https://prescricao-hom.cfm.org.br/content/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  background-position: right;
}

#container #presentatio-section {
  margin-top: 20px;
  .presentatio-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    strong {
      font-family: "Baloo 2", cursive;
      font-size: 1.6rem;
      color: var(--ion-color-primary);
    }
    p {
      margin: 0;
      font-size: 0.9rem;
      color: var(--ion-color-primary);
    }
    p.caption {
      margin-block: 6px;
      text-transform: uppercase;
      color: #454747;
    }
    a {
      margin-top: 6px;
      text-decoration: none;
      font-size: 0.9rem;
      color: #ff1f1f;
      ion-icon {
        margin-right: 6px;
        font-size: 1rem;
        transform: translateY(2px);
      }
    }
  }
}

#container #autentication-section {
  .autentication-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    & > ion-row {
      justify-content: center;
      width: 100%;
    }
    strong {
      font-family: "Baloo 2", cursive;
      font-size: 1.6rem;
      color: var(--ion-color-primary);
    }
  }
}

#container #autentication-section .autentication-content .autentication-info {
  margin-top: 10px;
  text-align: center;
  p {
    margin-block: 4px;
    font-size: 0.9rem;
    color: #454747;
  }
  span {
    font-size: 0.9rem;
    color: var(--ion-color-primary);
  }
  .login-options {
    margin-top: 14px;
    ion-col {
      display: flex;
      justify-content: center;
    }
    .login-option {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

#container .autentication-content #login-container {
  width: 100%;
  .login-form {
    width: 100%;
    .title {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 50px;
      span {
        border-top: 1px solid #d1d1d1;
      }
      ion-label {
        font-size: 16px;
        color: #8c8c8c;
      }
    }
  }
}

#container .autentication-content #login-container .login-form .login-with-certificate {
  & > ion-row {
    margin-top: 10px;
    justify-content: center;
    ion-button ion-icon {
      margin-right: 10px;
    }
    a {
      text-decoration: none;
      font-size: 0.9rem;
    }
  }
}

#container .autentication-content #login-container .login-form .default-login {
  & > ion-row {
    justify-content: center;
    #login-form {
      width: 100%;
      margin-top: 10px;
      .input-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
      }
      .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        ion-label {
          margin-left: 14px;
          font-size: 1.3rem;
          font-weight: bold;
          color: #5f5f5f;
          span {
            color: #ff1f1f;
          }
        }
        ion-input {
          height: 40px;
          margin-block: 14px 8px;
          padding-inline: 10px !important;
          color: #454747;
          border: 1px solid #8c8c8c;
          border-radius: 50px;
        }
        ion-select {
          width: 28vw;
          height: 40px;
          margin-block: 14px 8px;
          padding-right: 6px;
          border: 1px solid #8c8c8c;
          border-radius: 50px;
        }
        span.input-alert {
          font-size: 0.9rem;
          color: #ff1f1f;
          pointer-events: none;
          opacity: 0;
        }
      }
      .form-justify-center {
        justify-content: center;
        margin-bottom: 8px;
        p.form-info {
          text-align: center;
          font-size: 0.9rem;
          color: var(--ion-color-primary);
        }
        a {
          margin-block: 4px;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;
          color: var(--ion-color-primary);
        }
        ion-button {
          width: 100%;
          height: 50px;
          margin-top: 10px;
          font-size: 1rem;
          font-weight: bold;
        }
        span {
          margin-top: 10px;
          font-size: 0.9rem;
          color: #5f5f5f;
        }
        &.form-align-center {
          align-items: center;
        }
      }
    }
  }
}
