<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerDirection="back" [routerLink]="['/pages/inicio']" expand="block" shape="round">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        <!-- Voltar -->
      </ion-button>
    </ion-buttons>
    <ion-title>Solicitação de Exame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="page-title">Solicitação de Exame</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <ion-grid class="ion-padding">

      
    
    </ion-grid>

  </div>
  
</ion-content>
