ion-header ion-toolbar ion-buttons ion-select {
  border: 1px solid #e0dfdf;
  border-radius: 6px;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
}

#container .hello-container {
  width: 100%;
  text-align: start;
  margin-block: 10px 20px;
}
#container .hello-container strong {
  font-size: 1.3rem;
  line-height: 26px;
  color: #454747;
}

#container #signing-section {
  position: relative;
  padding-inline: 20px;
  margin-top: 10px;
  border: 1px solid #e0dfdf;
  border-radius: 6px;
}

#container #signing-section .section-title {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-12px);
  display: flex;
  align-items: center;
  padding-inline: 4px;
  background-color: #ffffff;
  z-index: 100;
}
#container #signing-section .section-title > span {
  font-size: 16px;
  color: #818181;
}
#container #signing-section .section-title .signing-info-icon ion-icon {
  margin-left: 4px;
  font-size: 24px;
  color: var(--ion-color-primary);
}

#container #signing-section .signing-info-box {
  position: absolute;
  top: 20px;
  left: 6px;
  width: 88vw;
  padding-inline: 14px;
  padding-block: 14px;
  background-color: #e0dfdf;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  transition-delay: 0.6s;
}
#container #signing-section .signing-info-box.is-visible {
  top: 30px;
  opacity: 1;
  pointer-events: auto;
}
#container #signing-section .signing-info-box p.signing-message {
  margin-block: 0 6px;
  font-size: 14px;
  color: #454747;
}
#container #signing-section .signing-info-box p.signing-message span {
  font-size: 16px;
  color: #ff1f1f;
}
#container #signing-section .signing-info-box .signing-link {
  margin-top: 6px;
}
#container #signing-section .signing-info-box .signing-link span {
  font-size: 14px;
  color: #454747;
}
#container #signing-section .signing-info-box .signing-link span a {
  font-style: italic;
  font-size: 14px;
  color: #3e8acc;
}

#container #signing-section .section-title .signing-info-icon:hover > .signing-info-box {
  top: 30px;
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0s;
}

#container .signing-label {
  font-size: 16px;
  color: var(--ion-color-primary);
}

#container .signing-toggle {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#container .signing-toggle.ios {
  gap: 12px;
}
#container .signing-toggle label {
  font-size: 16px;
  color: #8c8c8c;
}

#container #notifications-section {
  width: 100%;
  height: 352px;
  margin-top: 10px;
  border: 1px solid #e0dfdf;
  border-radius: 6px;
  overflow: hidden;
}
#container #notifications-section embed {
  width: 100%;
  height: 100%;
}

#container #quick-access {
  margin-top: 30px;
}
#container #quick-access strong {
  font-size: 16px;
  color: var(--ion-color-primary);
}
#container #quick-access > ion-row {
  margin-top: 10px;
}
#container #quick-access .card-container {
  padding-inline: 0;
}
#container #quick-access .card-container ion-card {
  height: 100%;
  padding-top: 8px;
  padding-inline: 8px;
  margin: 2px;
  cursor: pointer;
}
#container #quick-access .card-container ion-card img {
  width: 100%;
  border: 1px solid #e0dfdf;
  border-radius: 4px;
}
#container #quick-access .card-container ion-card ion-card-title {
  color: #353A3E;
}
#container #quick-access .card-container ion-card ion-card-title.ios {
  font-size: 1.5rem;
}

#container footer {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-inline: 10px;
  margin-top: 30px;
  background-color: #353A3E;
}
#container footer p {
  font-size: 12px;
  color: #e0dfdf;
}
#container footer span {
  font-size: 12px;
  color: #e0dfdf;
}/*# sourceMappingURL=home.page.css.map */